#text-container{
    display: flex;
    gap: 20px;
}

#my-text{
    color: var(--bg);
    font-size: 100px;
    z-index: 100;
    letter-spacing: 5px;
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    line-height: 80%;
}

.char{
    transform: translateY(100px);
    transition: transform .5 ease-in-out;
    
}


#loader{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
}



.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    filter: brightness(0.8);
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
}

.block{
    position: absolute;
    width: 100%;
    height: 100%;
}

.b-1{
    background: url(/bg-intro-1.jpg) 50% 50% no-repeat;
    background-size: cover;
}

.b-2{
    background: url(/bg-intro-2.jpg) 50% 50% no-repeat;
    background-size: cover;
}

.b-3{
    background: url(/bg-intro-3.jpg) 50% 50% no-repeat;
    background-size: cover;
}

.b-4{
    background: url(/bg-intro-4.jpg) 50% 50% no-repeat;
}