---
import Layout from '../layouts/Layout.astro';
import '../styles/Preloader.css'
import '../styles/Hero.css'
---

<Layout title="FOTOVISION">
	<div id="loader">
		<div id="text-container">
			<h1 id="my-text">FOTOVISION</h1>
			
		</div>
		<div class="container">
			<div class="block b-1"></div>
			<div class="block b-2"></div>
			<div class="block b-3"></div>
			<div class="block b-4"></div>
			<div class="block b-5"></div>
		</div>
	</div>
	<section id="main">
		<div id="main-content">
			<div id="text-content">
				<h1 class="title">SHARE</h1>
				<div class="title" id="main-vc">
					<h1>YOUR</h1>
					<img src="/Shape1.svg" alt="main" id="svg-spin">
				</div>
				<h1 class="title">STYLE</h1>
			</div>
			<div id="img-wrapper">
				<img src="/model.png" alt="" id="img">
				<div id="bg-img"></div>
			</div>
		</div>
	</section>
</Layout>
<script>
	import {gsap} from 'gsap';
	import SplitType from 'split-type'
	let tl = gsap.timeline( {defaults: {opacity:0}});
	const Text = new SplitType("#my-text")
	
	function init(){

		function loader(){
			return gsap.from("#loader",{
				autoAlpha: 0,
			})
		}

		function TitleAppear(){
			return gsap.to(".char",{
				delay: .5,
				y: 0,
				stagger: .05,
			})
		}
	
		function CacadeImages(){
			return gsap.from(".container > .block",1,{
			height: 0,
			stagger: .4,
			ease: "power4.inOut",
		})
		}

		function TitleDesappear(){
			return gsap.to(".char",{
				y: 100,
				stagger: .05,
				ease: "power4.inOut",
			})
		}
	
		function LoaderOut(){
			return gsap.to("#loader",.3,{
			clipPath: "polygon(50% 0, 50% 0, 50% 100%, 50% 100%)",
			ease: "power4.inOut",

		})
		}

		function main(){
			return gsap.from("#main",{
				autoAlpha: 0,
				opacity: 0,
			})
		}
	
		function SplitText(){
			return gsap.from("#text-content > .title",{
				y: 100,
				ease: "power4.out",
				opacity: 0,
				stagger: .2
			})
		}
	
		function MainImg(){
			return gsap.from("#img-wrapper",{
				y: 100,
				ease: "power4.out",
				opacity: 0
			})
		}
	
		function svgspin(){
			return gsap.to("#svg-spin",{
				rotate: 360,
				transformOrigin: "center",
				repeat: -1,
				duration: 10,
				ease: "none"
			})
		
		}
	
		tl.add(loader)
		tl.add(TitleAppear(),"-=.2").add(CacadeImages(),"-=1.5")
		tl.add(TitleDesappear())
		tl.add(LoaderOut()).add(main())
		tl.add(SplitText()).add(MainImg(), "-=1");
		tl.add(svgspin(),"-=1");
	}

	window.addEventListener("load", function(){
		init();
	})

</script>