---
import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/Preloader.css'
---

<Layout title="FOTOVISION">
	<div id="loader">
		<div id="text-container">
			<h1 id="my-text">FOTOVISION</h1>
			
		</div>
		<div class="container">
			<div class="block b-1"></div>
			<div class="block b-2"></div>
			<div class="block b-3"></div>
			<div class="block b-4"></div>
			<div class="block b-5"></div>
		</div>
	</div>
	<HeroSection />
</Layout>
<script>
	import {gsap} from 'gsap';
	import SplitType from 'split-type'

	window.addEventListener("load", function(){
		let tl = gsap.timeline();
		const Text = new SplitType("#my-text")

		


	
		function TitleAppear(){
			return gsap.to(".char",{
				y: 0,
				stagger: .05,
			})
		}
	
		function CacadeImages(){
			return gsap.from(".container > .block",1,{
			delay: .5,
			height: 0,
			stagger: .3,
			ease: "power4.inOut",
		})
		}
	
		function ImageContainerDesapear(){
			return gsap.to(".container",{
				clipPath: "polygon(0 50%, 100% 50%, 100% 50%, 0 50%)",
				opacity: 0,
				ease: "power4.inOut",
			})
		}

		function TitleDesapper(){
			return gsap.to(".char",{
				y: 100,
				stagger: .05,
				ease: "power4.inOut",
			})
		}
	
		function LoaderOut(){
			return gsap.to("#loader",.3,{
			width: 0,
			x: -20,
			ease: "power4.inOut",
			opacity: 0,
		})
		}
	
		function SplitText(){
			return gsap.from("#text-content > .title",{
				y: 100,
				ease: "power4.out",
				opacity: 0,
				stagger: .2
			})
		}
	
		function MainImg(){
			return gsap.from("#img-wrapper",{
				y: 100,
				ease: "power4.out",
				opacity: 0
			})
		}
	
		function svgspin(){
			return gsap.to("#svg-spin",{
				rotate: 360,
				transformOrigin: "center",
				repeat: -1,
				duration: 10,
				ease: "none"
			})
		
		}
	
		tl.add(TitleAppear()).add(CacadeImages())
		tl.add(ImageContainerDesapear()).add(TitleDesapper())
		tl.add(LoaderOut())
		tl.add(SplitText()).add(MainImg(), "-=1");
		tl.add(svgspin(),"-=1");
	})

</script>