---
import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/Preloader.css'
---

<Layout title="FOTOVISION">
	<div id="loader">
		<div id="text-container">
			<h1 class="h1">F</h1>
			<h1 class="h1">O</h1>
			<h1 class="h1">T</h1>
			<h1 class="h1">O</h1>
			<h1 class="h1">V</h1>
			<h1 class="h1">I</h1>
			<h1 class="h1">S</h1>
			<h1 class="h1">I</h1>
			<h1 class="h1">O</h1>
			<h1 class="h1">N</h1>
		</div>
		<div class="container">
			<div class="block b-1"></div>
			<div class="block b-2"></div>
			<div class="block b-3"></div>
			<div class="block b-4"></div>
			<div class="block b-5"></div>
		</div>
	</div>
	<HeroSection />
</Layout>
<script>
	import {gsap} from 'gsap';

	window.addEventListener("load", function(){
		let tl = gsap.timeline( {defaults: {duration: 2, ease: 'power2.out',delay: 3,stagger: 0.2}});
	
		function MainText(){
			return gsap.to(".h1",{
				clipPath: "polygon(0 0, 150% 0, 150% 150%, 0% 100%)",
				duration: 2,
			})
		}
	
		function Intro(){
			return gsap.from(".container > .block",1,{
			delay: .5,
			height: 0,
			stagger: .3,
			ease: "power2.out",
		})
		}
	
		function Intro2(){
			return gsap.to(".container > .block",{
				width: 0,
			})
		}
	
		function Outro(){
			return gsap.to("#loader",.3,{
			width: 0,
			x: -20,
			ease: "power2.out",
			opacity: 0,
		})
		}
	
		function SplitText(){
			return gsap.from("#text-content > .title",{
				y: 100,
				ease: "power2.out",
				opacity: 0,
				stagger: .2
			})
		}
	
		function Img(){
			return gsap.from("#img-wrapper",{
				y: 100,
				ease: "power2.out",
				opacity: 0
			})
		}
	
		function svgspin(){
			return gsap.to("#svg-spin",{
				rotate: 360,
				transformOrigin: "center",
				repeat: -1,
				duration: 10,
				ease: "none"
			})
		
		}
	
		tl.add(MainText()).add(Intro())
		tl.add(Intro2()).add(Outro()).add(SplitText()).add(Img(), "-=1");
		tl.add(svgspin(),"-=1");
	})

</script>