---
import '../styles/Hero.css'
---

<section id="main">
    <div id="main-content">
        <div id="text-content">
            <h1 class="title">SHARE</h1>
            <div class="title" id="main-vc">
                <h1>YOUR</h1>
                <img src="/Shape1.svg" alt="main" id="svg-spin">
            </div>
            <h1 class="title">STYLE</h1>
        </div>
        <div id="img-wrapper">
            <img src="/model.png" alt="" id="img">
            <div id="bg-img"></div>
        </div>
    </div>
</section>
