---
import Navbar from '../components/Navbar.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/ICON-FV.jpg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navbar />
		<slot />

	</body>
</html>
<style is:global>

	@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;900&display=swap');

	:root {
		--bg: #3340AD;
		--bg2: #BCD2E1;
		--primary: #FFF;
		--secondary: #001659;
		--terciary: #5FE49B;
	}

	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	html{
		background-color: var(--bg);
		font-family: 'Poppins', sans-serif;
	}
</style>
